<?xml version="1.0"?>
<connectionStrings>
  <add name="localDB" connectionString="Provider=SQLOLEDB;Data Source=ALTIRON-ML;Initial Catalog=bblamapidb;User ID=bblamusr;Password=@Bblampa55" />

  <!--
  <add name="localDB" connectionString="server=127.0.0.1;uid=root;pwd=@Bblampa55;database=bblamapidb;SslMode=none" />
  
  <add name="localDB" connectionString="server=127.0.0.1;uid=bblamusr;pwd=Bblampa55;database=bblamapidb" />
  
  <add name="localDB" connectionString="Database=bblamapidb;Data Source=ap-cdbr-azure-southeast-b.cloudapp.net;User Id=b8c9361bf1518c;Password=a89258b4" />
  -->
  <!--
  <add name="localDB" connectionString="server=127.0.0.1;uid=bblamusr;pwd=Bblampa55;database=bblamapidb;Convert Zero Datetime=True" />
  -->
</connectionStrings>